### Source Info

Source: http://archive.ics.uci.edu/ml/datasets/KDD+Cup+1999+Data

Data Description: http://kdd.ics.uci.edu/databases/kddcup99/kddcup99.html

### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/kddcup.data_0_1_percent.csv', sep=',')
df.head(3)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,32,33,34,35,36,37,38,39,40,41
0,22650,1,tcp,smtp,SF,1022,389,0,0,0,...,175,0.64,0.02,0.01,0.02,0.0,0.0,0.0,0.0,normal.
1,5765,0,tcp,http,SF,376,285,0,0,0,...,255,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,normal.
2,241826,0,icmp,ecr_i,SF,1032,0,0,0,0,...,255,1.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0,smurf.

### Data Wrangling & Define Variables

In [3]:
## Data Wrangling ##

labels = df['41']
label_counts = labels.value_counts()

# label must encompass > 5% of the data
mask = label_counts > df.shape[0] * 0.05

# get passing labels
valid_labels = label_counts.index[mask]
print('Passing labels =', valid_labels)

# wrangle dataset with passing labels only
model_df = df[df['41'].isin(valid_labels)]

# redefine labels
labels = model_df['41']

# df to use
model_df = model_df.drop(columns = ['Unnamed: 0', '0', '1', '2', '3'])
model_df.head(3)

Passing labels = Index(['smurf.', 'neptune.', 'normal.'], dtype='object')

,4,5,6,7,8,9,10,11,12,13,...,32,33,34,35,36,37,38,39,40,41
0,1022,389,0,0,0,0,0,1,0,0,...,175,0.64,0.02,0.01,0.02,0.0,0.0,0.0,0.0,normal.
1,376,285,0,0,0,0,0,1,0,0,...,255,1.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,normal.
2,1032,0,0,0,0,0,0,0,0,0,...,255,1.00,0.00,1.00,0.00,0.0,0.0,0.0,0.0,smurf.

In [4]:
## Defining global variables ##

# columns to use (numeric ones)
features = ['4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21',
           '22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40']

# specify the metrics column names to be modeled
to_model_columns = df.filter(items = features).columns
to_model_columns

Index(['4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16',
       '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28',
       '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40'],
      dtype='object')

### kNN

Below are some functions to be used throughout the code

In [5]:
## subset ##

def subset(model, n):
    df = model[0:len(model)//n]
    labels = nndf['41']
    knn(df, to_model_columns, labels, 3, 'auto', 30, 'minkowski')

In [6]:
## kNN ##

import time
import random
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score

def knn(model_data, model_columns, labels, K, alg, ls, mtc):
    start_time = time.time()
    
    # set seed
    random_state = 0
    random.seed(random_state)
    np.random.seed(0)

    # split data into train/test sets
    X, y = model_data.select_dtypes(['number']), labels
    params = train_test_split(X, y, test_size = 1/4, random_state = random_state, shuffle = True, stratify = y)
    X_train, X_test, y_train, y_test = params

    # fit model
    model = KNeighborsClassifier(n_neighbors=K, algorithm=alg, leaf_size=ls, metric=mtc, n_jobs=-1)
    model.fit(X_train, y_train)
    
    # predict on model_df
    pred = model.predict(model_data[model_columns])
    
    # compute f1-score
    score = f1_score(labels, pred, average='micro')
#     print(score) 

    # print time
    time_taken = str(round(time.time() - start_time,5))
#     print("Time taken: " + str(round(time.time() - start_time,2)) + " seconds") 
    
    return [score, time_taken]

In [75]:
r = knn(nndf, to_model_columns, nnlabels, 3, 'ball_tree', 3000, 'euclidean')
r[0]

0.9997856836690956

### Export Collected Data

In [7]:
# dicts
K = [1, 2, 3, 4, 5]
algorithm = ['ball_tree', 'kd_tree']
leaf_size = [30, 300, 3000]
metrics = ['minkowski', 'manhattan', 'euclidean']
Ks = {}
algs = {}
lss = {}
mets = {}
fs = {}
sec = {}

In [8]:
# subset (knn takes forever with the entire dataset)
ndf = model_df[0:len(model_df)//8]
nlabels = ndf['41']
ndf['41'].value_counts()

smurf.      35109
neptune.    13381
normal.     12168
Name: 41, dtype: int64

In [13]:
# collect data

count = 1
for k in K:
    for alg in algorithm:
        for lf in leaf_size:
            for mt in metrics:
                output = knn(ndf, to_model_columns, nlabels, k, alg, lf, mt)
                Ks[str(count)] = k
                algs[str(count)] = alg
                lss[str(count)] = lf
                mets[str(count)] = mt
                fs[str(count)] = output[0]
                sec[str(count)] = output[1]
                print(str(count)+' of 90 iterations completed. '+str(90-count)+' iterations left. Estimated time is '+str(round(float(output[1])*(90-count)//60,2))+' minutes.')
                count = count+1

1 of 90 iterations completed. 89 iterations left. Estimated time is 40.0 minutes.
2 of 90 iterations completed. 88 iterations left. Estimated time is 39.0 minutes.
3 of 90 iterations completed. 87 iterations left. Estimated time is 38.0 minutes.
4 of 90 iterations completed. 86 iterations left. Estimated time is 54.0 minutes.
5 of 90 iterations completed. 85 iterations left. Estimated time is 57.0 minutes.
6 of 90 iterations completed. 84 iterations left. Estimated time is 52.0 minutes.
7 of 90 iterations completed. 83 iterations left. Estimated time is 105.0 minutes.
8 of 90 iterations completed. 82 iterations left. Estimated time is 112.0 minutes.
9 of 90 iterations completed. 81 iterations left. Estimated time is 100.0 minutes.
10 of 90 iterations completed. 80 iterations left. Estimated time is 31.0 minutes.
11 of 90 iterations completed. 79 iterations left. Estimated time is 30.0 minutes.
12 of 90 iterations completed. 78 iterations left. Estimated time is 29.0 minutes.
13 of 90 iterations completed. 77 iterations left. Estimated time is 28.0 minutes.
14 of 90 iterations completed. 76 iterations left. Estimated time is 29.0 minutes.
15 of 90 iterations completed. 75 iterations left. Estimated time is 27.0 minutes.
16 of 90 iterations completed. 74 iterations left. Estimated time is 40.0 minutes.
17 of 90 iterations completed. 73 iterations left. Estimated time is 43.0 minutes.
18 of 90 iterations completed. 72 iterations left. Estimated time is 39.0 minutes.
19 of 90 iterations completed. 71 iterations left. Estimated time is 31.0 minutes.
20 of 90 iterations completed. 70 iterations left. Estimated time is 31.0 minutes.
21 of 90 iterations completed. 69 iterations left. Estimated time is 30.0 minutes.
22 of 90 iterations completed. 68 iterations left. Estimated time is 42.0 minutes.
23 of 90 iterations completed. 67 iterations left. Estimated time is 43.0 minutes.
24 of 90 iterations completed. 66 iterations left. Estimated time is 41.0 minutes.
25 of 90 iterations completed. 65 iterations left. Estimated time is 79.0 minutes.
26 of 90 iterations completed. 64 iterations left. Estimated time is 83.0 minutes.
27 of 90 iterations completed. 63 iterations left. Estimated time is 77.0 minutes.
28 of 90 iterations completed. 62 iterations left. Estimated time is 23.0 minutes.
29 of 90 iterations completed. 61 iterations left. Estimated time is 22.0 minutes.
30 of 90 iterations completed. 60 iterations left. Estimated time is 22.0 minutes.
31 of 90 iterations completed. 59 iterations left. Estimated time is 22.0 minutes.
32 of 90 iterations completed. 58 iterations left. Estimated time is 22.0 minutes.
33 of 90 iterations completed. 57 iterations left. Estimated time is 21.0 minutes.
34 of 90 iterations completed. 56 iterations left. Estimated time is 31.0 minutes.
35 of 90 iterations completed. 55 iterations left. Estimated time is 32.0 minutes.
36 of 90 iterations completed. 54 iterations left. Estimated time is 30.0 minutes.
37 of 90 iterations completed. 53 iterations left. Estimated time is 23.0 minutes.
38 of 90 iterations completed. 52 iterations left. Estimated time is 23.0 minutes.
39 of 90 iterations completed. 51 iterations left. Estimated time is 22.0 minutes.
40 of 90 iterations completed. 50 iterations left. Estimated time is 31.0 minutes.
41 of 90 iterations completed. 49 iterations left. Estimated time is 31.0 minutes.
42 of 90 iterations completed. 48 iterations left. Estimated time is 29.0 minutes.
43 of 90 iterations completed. 47 iterations left. Estimated time is 58.0 minutes.
44 of 90 iterations completed. 46 iterations left. Estimated time is 59.0 minutes.
45 of 90 iterations completed. 45 iterations left. Estimated time is 55.0 minutes.
46 of 90 iterations completed. 44 iterations left. Estimated time is 16.0 minutes.
47 of 90 iterations completed. 43 iterations left. Estimated time is 16.0 minutes.
48 of 90 iterations completed. 42 iterations left. Estimated time is 16.0 minutes.
49 of 90 iterations completed. 41 iterations left. Estimated time is 15.0 minutes.
50 of 90 iterations completed. 40 iterations left. Estimated time is 15.0 minutes.
51 of 90 iterations completed. 39 iterations left. Estimated time is 14.0 minutes.
52 of 90 iterations completed. 38 iterations left. Estimated time is 21.0 minutes.
53 of 90 iterations completed. 37 iterations left. Estimated time is 22.0 minutes.
54 of 90 iterations completed. 36 iterations left. Estimated time is 20.0 minutes.
55 of 90 iterations completed. 35 iterations left. Estimated time is 15.0 minutes.
56 of 90 iterations completed. 34 iterations left. Estimated time is 15.0 minutes.
57 of 90 iterations completed. 33 iterations left. Estimated time is 14.0 minutes.
58 of 90 iterations completed. 32 iterations left. Estimated time is 20.0 minutes.
59 of 90 iterations completed. 31 iterations left. Estimated time is 20.0 minutes.
60 of 90 iterations completed. 30 iterations left. Estimated time is 18.0 minutes.
61 of 90 iterations completed. 29 iterations left. Estimated time is 35.0 minutes.
62 of 90 iterations completed. 28 iterations left. Estimated time is 36.0 minutes.
63 of 90 iterations completed. 27 iterations left. Estimated time is 33.0 minutes.
64 of 90 iterations completed. 26 iterations left. Estimated time is 9.0 minutes.
65 of 90 iterations completed. 25 iterations left. Estimated time is 10.0 minutes.
66 of 90 iterations completed. 24 iterations left. Estimated time is 9.0 minutes.
67 of 90 iterations completed. 23 iterations left. Estimated time is 8.0 minutes.
68 of 90 iterations completed. 22 iterations left. Estimated time is 8.0 minutes.
69 of 90 iterations completed. 21 iterations left. Estimated time is 7.0 minutes.
70 of 90 iterations completed. 20 iterations left. Estimated time is 11.0 minutes.
71 of 90 iterations completed. 19 iterations left. Estimated time is 11.0 minutes.
72 of 90 iterations completed. 18 iterations left. Estimated time is 10.0 minutes.
73 of 90 iterations completed. 17 iterations left. Estimated time is 7.0 minutes.
74 of 90 iterations completed. 16 iterations left. Estimated time is 7.0 minutes.
75 of 90 iterations completed. 15 iterations left. Estimated time is 6.0 minutes.
76 of 90 iterations completed. 14 iterations left. Estimated time is 8.0 minutes.
77 of 90 iterations completed. 13 iterations left. Estimated time is 8.0 minutes.
78 of 90 iterations completed. 12 iterations left. Estimated time is 7.0 minutes.
79 of 90 iterations completed. 11 iterations left. Estimated time is 13.0 minutes.
80 of 90 iterations completed. 10 iterations left. Estimated time is 13.0 minutes.
81 of 90 iterations completed. 9 iterations left. Estimated time is 11.0 minutes.
82 of 90 iterations completed. 8 iterations left. Estimated time is 3.0 minutes.
83 of 90 iterations completed. 7 iterations left. Estimated time is 2.0 minutes.
84 of 90 iterations completed. 6 iterations left. Estimated time is 2.0 minutes.
85 of 90 iterations completed. 5 iterations left. Estimated time is 1.0 minutes.
86 of 90 iterations completed. 4 iterations left. Estimated time is 1.0 minutes.
87 of 90 iterations completed. 3 iterations left. Estimated time is 1.0 minutes.
88 of 90 iterations completed. 2 iterations left. Estimated time is 1.0 minutes.
89 of 90 iterations completed. 1 iterations left. Estimated time is 0.0 minutes.
90 of 90 iterations completed. 0 iterations left. Estimated time is 0.0 minutes.

In [14]:
score_data = {'K': Ks, 'Algorithm': algs, 'Leaf Size': lss, 'Metric': mets, 'f1-score': fs, 'Time': sec}

In [15]:
score_data

{'K': {'1': 1,
  '2': 1,
  '3': 1,
  '4': 1,
  '5': 1,
  '6': 1,
  '7': 1,
  '8': 1,
  '9': 1,
  '10': 1,
  '11': 1,
  '12': 1,
  '13': 1,
  '14': 1,
  '15': 1,
  '16': 1,
  '17': 1,
  '18': 1,
  '19': 2,
  '20': 2,
  '21': 2,
  '22': 2,
  '23': 2,
  '24': 2,
  '25': 2,
  '26': 2,
  '27': 2,
  '28': 2,
  '29': 2,
  '30': 2,
  '31': 2,
  '32': 2,
  '33': 2,
  '34': 2,
  '35': 2,
  '36': 2,
  '37': 3,
  '38': 3,
  '39': 3,
  '40': 3,
  '41': 3,
  '42': 3,
  '43': 3,
  '44': 3,
  '45': 3,
  '46': 3,
  '47': 3,
  '48': 3,
  '49': 3,
  '50': 3,
  '51': 3,
  '52': 3,
  '53': 3,
  '54': 3,
  '55': 4,
  '56': 4,
  '57': 4,
  '58': 4,
  '59': 4,
  '60': 4,
  '61': 4,
  '62': 4,
  '63': 4,
  '64': 4,
  '65': 4,
  '66': 4,
  '67': 4,
  '68': 4,
  '69': 4,
  '70': 4,
  '71': 4,
  '72': 4,
  '73': 5,
  '74': 5,
  '75': 5,
  '76': 5,
  '77': 5,
  '78': 5,
  '79': 5,
  '80': 5,
  '81': 5,
  '82': 5,
  '83': 5,
  '84': 5,
  '85': 5,
  '86': 5,
  '87': 5,
  '88': 5,
  '89': 5,
  '90': 5},
 'Algorithm': {'1': 'ball_tree',
  '2': 'ball_tree',
  '3': 'ball_tree',
  '4': 'ball_tree',
  '5': 'ball_tree',
  '6': 'ball_tree',
  '7': 'ball_tree',
  '8': 'ball_tree',
  '9': 'ball_tree',
  '10': 'kd_tree',
  '11': 'kd_tree',
  '12': 'kd_tree',
  '13': 'kd_tree',
  '14': 'kd_tree',
  '15': 'kd_tree',
  '16': 'kd_tree',
  '17': 'kd_tree',
  '18': 'kd_tree',
  '19': 'ball_tree',
  '20': 'ball_tree',
  '21': 'ball_tree',
  '22': 'ball_tree',
  '23': 'ball_tree',
  '24': 'ball_tree',
  '25': 'ball_tree',
  '26': 'ball_tree',
  '27': 'ball_tree',
  '28': 'kd_tree',
  '29': 'kd_tree',
  '30': 'kd_tree',
  '31': 'kd_tree',
  '32': 'kd_tree',
  '33': 'kd_tree',
  '34': 'kd_tree',
  '35': 'kd_tree',
  '36': 'kd_tree',
  '37': 'ball_tree',
  '38': 'ball_tree',
  '39': 'ball_tree',
  '40': 'ball_tree',
  '41': 'ball_tree',
  '42': 'ball_tree',
  '43': 'ball_tree',
  '44': 'ball_tree',
  '45': 'ball_tree',
  '46': 'kd_tree',
  '47': 'kd_tree',
  '48': 'kd_tree',
  '49': 'kd_tree',
  '50': 'kd_tree',
  '51': 'kd_tree',
  '52': 'kd_tree',
  '53': 'kd_tree',
  '54': 'kd_tree',
  '55': 'ball_tree',
  '56': 'ball_tree',
  '57': 'ball_tree',
  '58': 'ball_tree',
  '59': 'ball_tree',
  '60': 'ball_tree',
  '61': 'ball_tree',
  '62': 'ball_tree',
  '63': 'ball_tree',
  '64': 'kd_tree',
  '65': 'kd_tree',
  '66': 'kd_tree',
  '67': 'kd_tree',
  '68': 'kd_tree',
  '69': 'kd_tree',
  '70': 'kd_tree',
  '71': 'kd_tree',
  '72': 'kd_tree',
  '73': 'ball_tree',
  '74': 'ball_tree',
  '75': 'ball_tree',
  '76': 'ball_tree',
  '77': 'ball_tree',
  '78': 'ball_tree',
  '79': 'ball_tree',
  '80': 'ball_tree',
  '81': 'ball_tree',
  '82': 'kd_tree',
  '83': 'kd_tree',
  '84': 'kd_tree',
  '85': 'kd_tree',
  '86': 'kd_tree',
  '87': 'kd_tree',
  '88': 'kd_tree',
  '89': 'kd_tree',
  '90': 'kd_tree'},
 'Leaf Size': {'1': 30,
  '2': 30,
  '3': 30,
  '4': 300,
  '5': 300,
  '6': 300,
  '7': 3000,
  '8': 3000,
  '9': 3000,
  '10': 30,
  '11': 30,
  '12': 30,
  '13': 300,
  '14': 300,
  '15': 300,
  '16': 3000,
  '17': 3000,
  '18': 3000,
  '19': 30,
  '20': 30,
  '21': 30,
  '22': 300,
  '23': 300,
  '24': 300,
  '25': 3000,
  '26': 3000,
  '27': 3000,
  '28': 30,
  '29': 30,
  '30': 30,
  '31': 300,
  '32': 300,
  '33': 300,
  '34': 3000,
  '35': 3000,
  '36': 3000,
  '37': 30,
  '38': 30,
  '39': 30,
  '40': 300,
  '41': 300,
  '42': 300,
  '43': 3000,
  '44': 3000,
  '45': 3000,
  '46': 30,
  '47': 30,
  '48': 30,
  '49': 300,
  '50': 300,
  '51': 300,
  '52': 3000,
  '53': 3000,
  '54': 3000,
  '55': 30,
  '56': 30,
  '57': 30,
  '58': 300,
  '59': 300,
  '60': 300,
  '61': 3000,
  '62': 3000,
  '63': 3000,
  '64': 30,
  '65': 30,
  '66': 30,
  '67': 300,
  '68': 300,
  '69': 300,
  '70': 3000,
  '71': 3000,
  '72': 3000,
  '73': 30,
  '74': 30,
  '75': 30,
  '76': 300,
  '77': 300,
  '78': 300,
  '79': 3000,
  '80': 3000,
  '81': 3000,
  '82': 30,
  '83': 30,
  '84': 30,
  '85': 300,
  '86': 300,
  '87': 300,
  '88': 3000,
  '89': 3000,
  '90': 3000},
 'Metric': {'1': 'minkowski',
  '2': 'manhattan',
  '3': 'euclidean',
  '4': 'minkowski',
  '5': 'manhattan',
  '6': 'euclidean',
  '7': 'minkowski',
  '8': 'manhattan',
  '9': 'euclidean',
  '10': 'minkowski',
  '11': 'manhattan',
  '12': 'euclidean',
  '13': 'minkowski',
  '14': 'manhattan',
  '15': 'euclidean',
  '16': 'minkowski',
  '17': 'manhattan',
  '18': 'euclidean',
  '19': 'minkowski',
  '20': 'manhattan',
  '21': 'euclidean',
  '22': 'minkowski',
  '23': 'manhattan',
  '24': 'euclidean',
  '25': 'minkowski',
  '26': 'manhattan',
  '27': 'euclidean',
  '28': 'minkowski',
  '29': 'manhattan',
  '30': 'euclidean',
  '31': 'minkowski',
  '32': 'manhattan',
  '33': 'euclidean',
  '34': 'minkowski',
  '35': 'manhattan',
  '36': 'euclidean',
  '37': 'minkowski',
  '38': 'manhattan',
  '39': 'euclidean',
  '40': 'minkowski',
  '41': 'manhattan',
  '42': 'euclidean',
  '43': 'minkowski',
  '44': 'manhattan',
  '45': 'euclidean',
  '46': 'minkowski',
  '47': 'manhattan',
  '48': 'euclidean',
  '49': 'minkowski',
  '50': 'manhattan',
  '51': 'euclidean',
  '52': 'minkowski',
  '53': 'manhattan',
  '54': 'euclidean',
  '55': 'minkowski',
  '56': 'manhattan',
  '57': 'euclidean',
  '58': 'minkowski',
  '59': 'manhattan',
  '60': 'euclidean',
  '61': 'minkowski',
  '62': 'manhattan',
  '63': 'euclidean',
  '64': 'minkowski',
  '65': 'manhattan',
  '66': 'euclidean',
  '67': 'minkowski',
  '68': 'manhattan',
  '69': 'euclidean',
  '70': 'minkowski',
  '71': 'manhattan',
  '72': 'euclidean',
  '73': 'minkowski',
  '74': 'manhattan',
  '75': 'euclidean',
  '76': 'minkowski',
  '77': 'manhattan',
  '78': 'euclidean',
  '79': 'minkowski',
  '80': 'manhattan',
  '81': 'euclidean',
  '82': 'minkowski',
  '83': 'manhattan',
  '84': 'euclidean',
  '85': 'minkowski',
  '86': 'manhattan',
  '87': 'euclidean',
  '88': 'minkowski',
  '89': 'manhattan',
  '90': 'euclidean'},
 'f1-score': {'1': 0.9999505423851759,
  '2': 0.999967028256784,
  '3': 0.9999505423851759,
  '4': 0.9999505423851759,
  '5': 0.999967028256784,
  '6': 0.9999505423851759,
  '7': 0.9999505423851759,
  '8': 0.999967028256784,
  '9': 0.9999505423851759,
  '10': 0.9999505423851759,
  '11': 0.999967028256784,
  '12': 0.9999505423851759,
  '13': 0.9999505423851759,
  '14': 0.999967028256784,
  '15': 0.9999505423851759,
  '16': 0.9999505423851759,
  '17': 0.999967028256784,
  '18': 0.9999505423851759,
  '19': 0.9998845988987438,
  '20': 0.9999010847703518,
  '21': 0.9998845988987438,
  '22': 0.9998845988987438,
  '23': 0.9999010847703518,
  '24': 0.9998845988987438,
  '25': 0.9998845988987438,
  '26': 0.9999010847703518,
  '27': 0.9998845988987438,
  '28': 0.9998845988987438,
  '29': 0.9999010847703518,
  '30': 0.9998845988987438,
  '31': 0.9998845988987438,
  '32': 0.9999010847703518,
  '33': 0.9998845988987438,
  '34': 0.9998845988987438,
  '35': 0.9999010847703518,
  '36': 0.9998845988987438,
  '37': 0.9997856836690956,
  '38': 0.9998186554123116,
  '39': 0.9997856836690956,
  '40': 0.9997856836690956,
  '41': 0.9998186554123116,
  '42': 0.9997856836690956,
  '43': 0.9997856836690956,
  '44': 0.9998186554123116,
  '45': 0.9997856836690956,
  '46': 0.9997856836690956,
  '47': 0.9998186554123116,
  '48': 0.9997856836690956,
  '49': 0.9997856836690956,
  '50': 0.9998186554123116,
  '51': 0.9997856836690956,
  '52': 0.9997856836690956,
  '53': 0.9998186554123116,
  '54': 0.9997856836690956,
  '55': 0.9997362260542715,
  '56': 0.9997856836690956,
  '57': 0.9997362260542715,
  '58': 0.9997362260542715,
  '59': 0.9997856836690956,
  '60': 0.9997362260542715,
  '61': 0.9997362260542715,
  '62': 0.9997856836690956,
  '63': 0.9997362260542715,
  '64': 0.9997362260542715,
  '65': 0.9997856836690956,
  '66': 0.9997362260542715,
  '67': 0.9997362260542715,
  '68': 0.9997856836690956,
  '69': 0.9997362260542715,
  '70': 0.9997362260542715,
  '71': 0.9997856836690956,
  '72': 0.9997362260542715,
  '73': 0.9997032543110554,
  '74': 0.9997856836690956,
  '75': 0.9997032543110554,
  '76': 0.9997032543110554,
  '77': 0.9997856836690956,
  '78': 0.9997032543110554,
  '79': 0.9997032543110554,
  '80': 0.9997856836690956,
  '81': 0.9997032543110554,
  '82': 0.9997032543110554,
  '83': 0.9997856836690956,
  '84': 0.9997032543110554,
  '85': 0.9997032543110554,
  '86': 0.9997856836690956,
  '87': 0.9997032543110554,
  '88': 0.9997032543110554,
  '89': 0.9997856836690956,
  '90': 0.9997032543110554},
 'Time': {'1': '27.55415',
  '2': '27.15827',
  '3': '26.65204',
  '4': '38.28638',
  '5': '40.3089',
  '6': '37.79449',
  '7': '76.39612',
  '8': '82.39808',
  '9': '74.57934',
  '10': '23.31077',
  '11': '22.96442',
  '12': '22.9979',
  '13': '22.12804',
  '14': '23.47472',
  '15': '22.12199',
  '16': '33.06951',
  '17': '35.53983',
  '18': '32.99936',
  '19': '26.63131',
  '20': '27.06865',
  '21': '26.22294',
  '22': '37.18322',
  '23': '38.54477',
  '24': '37.40675',
  '25': '73.22572',
  '26': '78.01315',
  '27': '73.41169',
  '28': '22.80552',
  '29': '22.42018',
  '30': '22.85956',
  '31': '22.49969',
  '32': '23.53084',
  '33': '22.35629',
  '34': '33.39846',
  '35': '35.88279',
  '36': '34.00294',
  '37': '26.58854',
  '38': '27.20224',
  '39': '26.2893',
  '40': '37.89589',
  '41': '38.10174',
  '42': '37.15918',
  '43': '74.08436',
  '44': '78.17921',
  '45': '73.7531',
  '46': '22.75789',
  '47': '22.60099',
  '48': '23.014',
  '49': '22.39284',
  '50': '23.61185',
  '51': '22.34235',
  '52': '34.29034',
  '53': '36.43624',
  '54': '33.92583',
  '55': '26.90492',
  '56': '27.60486',
  '57': '26.8321',
  '58': '37.79002',
  '59': '38.76435',
  '60': '37.66568',
  '61': '73.61373',
  '62': '77.59807',
  '63': '73.59926',
  '64': '23.01244',
  '65': '25.5572',
  '66': '23.20454',
  '67': '22.51',
  '68': '23.71865',
  '69': '22.37454',
  '70': '33.79266',
  '71': '36.47446',
  '72': '33.97293',
  '73': '26.85052',
  '74': '27.56293',
  '75': '27.05975',
  '76': '37.90056',
  '77': '38.57097',
  '78': '38.03614',
  '79': '73.33297',
  '80': '78.15015',
  '81': '74.82004',
  '82': '23.17869',
  '83': '22.93507',
  '84': '23.17246',
  '85': '22.37703',
  '86': '23.69547',
  '87': '22.55928',
  '88': '33.98923',
  '89': '36.80343',
  '90': '34.13112'}}

In [16]:
import json

j_score_data = json.dumps(score_data, indent = 4)
  
with open('data/score.json', 'w') as f:
    f.write(j_score_data)